In [368]:
import pandas as pd
from collections import namedtuple
from pyspark.sql import SQLContext
from pyspark.sql.types import *  
sqlContext = SQLContext(sc)

In [369]:
rawFile = sc.textFile("/user/root/analytic_out/part-r-00000")
rawFile.count()
rawFile.take(2)

[u'1\t90|13107|1061|16|163|1631|2536|41.83754|6.427445|51.73502',
 u'1\t91|13107|1148|17|170|1428|2634|43.5839|6.454062|49.96203']

In [370]:
hdrdata = ['idtabbYEAR',  'NETWORK', 'LABOREXP', 'STAFF', 'ELECEXP', 'KWH', 'TOTCOST', 'CAPITAL',  'LABOR',  'ELEC']
schema   = namedtuple('r_data', hdrdata)

fields = [StructField(field_name, StringType(), True) for field_name in hdrdata]
fields

[StructField(idtabbYEAR,StringType,true),
 StructField(NETWORK,StringType,true),
 StructField(LABOREXP,StringType,true),
 StructField(STAFF,StringType,true),
 StructField(ELECEXP,StringType,true),
 StructField(KWH,StringType,true),
 StructField(TOTCOST,StringType,true),
 StructField(CAPITAL,StringType,true),
 StructField(LABOR,StringType,true),
 StructField(ELEC,StringType,true)]

In [371]:
fields[1].dataType = FloatType()
fields[2].dataType = FloatType()
fields[3].dataType = FloatType()
fields[4].dataType = FloatType()
fields[5].dataType = FloatType()
fields[6].dataType = FloatType()
fields[7].dataType = FloatType()
fields[8].dataType = FloatType()
fields[9].dataType = FloatType()

fields

[StructField(idtabbYEAR,StringType,true),
 StructField(NETWORK,FloatType,true),
 StructField(LABOREXP,FloatType,true),
 StructField(STAFF,FloatType,true),
 StructField(ELECEXP,FloatType,true),
 StructField(KWH,FloatType,true),
 StructField(TOTCOST,FloatType,true),
 StructField(CAPITAL,FloatType,true),
 StructField(LABOR,FloatType,true),
 StructField(ELEC,FloatType,true)]

In [372]:
schema = StructType(fields)
schema

StructType(List(StructField(idtabbYEAR,StringType,true),StructField(NETWORK,FloatType,true),StructField(LABOREXP,FloatType,true),StructField(STAFF,FloatType,true),StructField(ELECEXP,FloatType,true),StructField(KWH,FloatType,true),StructField(TOTCOST,FloatType,true),StructField(CAPITAL,FloatType,true),StructField(LABOR,FloatType,true),StructField(ELEC,FloatType,true)))

In [373]:
data_1 = rawFile.filter(lambda l: "\t" in l)
data_1.collect()
data_1.count()

604

In [374]:
data_temp = data_1.map(lambda k: k.split("|")).map(lambda p: ( p[0], float(p[1]), float(p[2]), float(p[3]), float(p[4]), float(p[5]), float(p[6]), float(p[7]), float(p[8]), float(p[9]) )
)

In [375]:
def rDD_to_List(value):
    result_list = [] 
    result_list.append(value)
    return result_list

In [376]:
def extract_data_as_frame(in_data ):
    # dataset # id, YEAR, NETWORK, LABOREXP, STAFF, ELECEXP, KWH, TOTCOST, LABOR,  ELEC,  CAPITAL
    data_list = []
    #
    for d_name in in_data:
        dict1 = {}
        # dict1.update(idtabbYEAR=d_name[0],LABOREXP=d_name[2], KWH=d_name[5], STAFF= d_name[3], TOTCOST=d_name[6]) 
        data_list.append(dict1)
    data_as_frame = pd.DataFrame(data_list, columns=['id', 'lab', 'kwh', 'staff', 't_cost'])
    return data_as_frame

In [377]:
result = data_temp.map(rDD_to_List).take(2)
#result = data_temp.map(extract_data_as_frame).take(4)
resultdf = extract_data_as_frame(result)

resultdf

AttributeError: 'module' object has no attribute 'DataFrame'